*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.container {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.calc {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  align-content: center;
  justify-content: center;
}

.calc > button {
  background-color: #5c5a5a;
  color: #fff;
  font-size: 2rem;
  outline: none;
  margin:1px;
  transition: all 0.5s ease;
}

.calc > button:hover {
  opacity: 0.8;
}
button.span-two {
  grid-column: span 2;
}

.display-wrap {
  grid-column: 1 / -1;
  color: white;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  transition: all 1ms ease-in;
  background-color: #1c1c1c;
  text-align: right;
  padding: 10px;
}

.current-operand {
  font-size: 3rem;
  min-height: 55px;
  word-break: break-all;
}

.previous-operand {
  font-size: 1.8rem;
  color: #efefef;
}
